*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    border-radius: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #db93c5;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.calculator{
    background: #500a5b;
    padding: 20px;
    border-radius: 20px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: -8px -8px 15px rgba(159, 13, 233, 0.1) ,-8px -8px 15px rgba(159, 13, 233, 0.1);
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(172, 20, 214); 
    color: rgb(0, 0, 0);
    
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 ;
}
form .display input{
    text-align: right;
    padding: 10px;
    font-size: 45px ;
    box-shadow: none;
    width: 310px;
    background-color: rgb(172, 20, 214);
}
form input.equal{
    width: 145px;
}

.calculator form input:hover {
    background-color: rgb(195, 80, 230);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}
.calculator form input {
    cursor: pointer;
    transition: all 0.3s ease; 
}
